force-app/main/default/flows/MultiCommit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Backend_Commit_Destructive_Changes</name>
        <label>Backend: Commit Destructive Changes</label>
        <locationX>357</locationX>
        <locationY>573</locationY>
        <actionName>MultiCommitCtrl</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>contextId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobName</name>
            <value>
                <stringValue>Commit Destructive Changes</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Backend_Commit_Files</name>
        <label>Backend: Commit Files</label>
        <locationX>847</locationX>
        <locationY>206</locationY>
        <actionName>MultiCommitCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Wait_for_Notification_Commit1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>contextId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobName</name>
            <value>
                <stringValue>&quot;Commit Files&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Backend_Commit_Profiles_PermSets</name>
        <label>Backend: Commit Profiles &amp; PermSets</label>
        <locationX>607</locationX>
        <locationY>365</locationY>
        <actionName>MultiCommitCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Wait_for_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>contextId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jobName</name>
            <value>
                <stringValue>Commit Profiles &amp; PermSets</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <constants>
        <name>Done</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Done</stringValue>
        </value>
    </constants>
    <constants>
        <name>SUCCESS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Success</stringValue>
        </value>
    </constants>
    <description>Example showing how to orchestrate long-running backend processes using a paused and resumed flow.</description>
    <interviewLabel>MultiCommit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MultiCommit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>721</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Backend_Commit_Files</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotifyDone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NotificationReceived__e</objectType>
    </variables>
    <waits>
        <name>Wait_for_Notification</name>
        <label>Wait for Notification</label>
        <locationX>607</locationX>
        <locationY>573</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Status_Success_Commit1</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Backend_Commit_Destructive_Changes</targetReference>
            </connector>
            <eventType>NotificationReceived__e</eventType>
            <inputParameters>
                <name>ext_JobId__c</name>
                <value>
                    <elementReference>contextId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>txt_Status__c</name>
                <value>
                    <elementReference>SUCCESS</elementReference>
                </value>
            </inputParameters>
            <label>Status Success</label>
            <outputParameters>
                <assignToReference>NotifyDone</assignToReference>
                <name>NotificationReceived__e</name>
            </outputParameters>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_Notification_Commit1</name>
        <label>Wait for Notification</label>
        <locationX>846</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Status_Success</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Backend_Commit_Profiles_PermSets</targetReference>
            </connector>
            <eventType>NotificationReceived__e</eventType>
            <inputParameters>
                <name>ext_JobId__c</name>
                <value>
                    <elementReference>contextId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>txt_Status__c</name>
                <value>
                    <elementReference>SUCCESS</elementReference>
                </value>
            </inputParameters>
            <label>Status Success</label>
        </waitEvents>
    </waits>
</Flow>
